/* computeur version */

@import "tailwindcss";

:root {
    font-family: var(--font-inter), sans-serif;
}


:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media screen and (max-width: 2560px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }


    body {
        display: flex;
        flex-direction: column;
        font-family: "Baloo 2", sans-serif;
        background-color: #F9FAFB;
        color: #000;
        overflow-x: hidden;
    }

    #news {
        text-align: center;
        background-color: #F9FAFB;
        padding: 1em;
    }

    header {
        display: flex;
        align-items: center;
        background-color: #0F172A;
        padding: 1%;
        width: 100%;
    }

    .nav-part-img-container {
        width: 85px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding-left: 3em;
        width: 100%;
        flex-shrink: 1;
        height: auto;
    }

    nav ul {
        display: flex; 
        flex-direction: row;
        align-items: center;
        gap: 2em;
        list-style-type: none;
        list-style: none;
    }

    nav ul li {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    nav ul li a {
        color: #ffffff;
        text-decoration: none;
    }

    nav ul li a:hover {
        color: #ffdd1b;
        text-decoration: none;
    }

    .menu-hamburger-nav-container {
        display: none;
    }

    /* search bar section for looking for an item */

    form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type=text] {
        width: 80%;
        color: #000000;
        background-color: #ffffff;
        filter: opacity(0.8);
        border-radius: 50px;
        padding: 0.3% 2%;
        text-align: center;
        font-weight: 600;
        font-size: 0.4em;
    }

    input[type=text]:focus {
        background-color: #ffffff;
        outline: none;
    }

    .search-bar-items-logo-main {
        position: relative;
        right: 75%;
        filter: brightness(0%);
    }

    /* ---------------------------------------------- */

    .search-bar-section {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 60vh;
        background-image: url("/hiros-lee-b-B5KsvhwuQ-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
        background-position-y: 45%;
        color: #ffffff;
        font-size: 5.5em;    
        filter: opacity(0.8);
    }


    .search-bar-section strong {
        font-family: "Edu QLD Hand", cursive;
        text-align: center;
        padding: 5% 0 5% 0;
    }

    /* section choices section navigation */

    .nav-logo {
        display: flex;
        align-items: start;
        padding-right: 1.5%;
    }

    .nav-logo img {
        width: 1.3em;
        height: 1.53em;
        margin-left: 2em;
    }

    /* .nav-logo img:hover {
        fill: yellow;
    } */

    .navigation-container-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        gap: 2em;
    }

    .first-section-theme-list-choices {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5em;
        background-color: rgb(249, 252, 255);
    }

    .first-section-theme-list-choices * {
        border-radius: 50px;
    }


    .first-section-theme-list-choices a#first-div-choice-box {
        background-image: url("/pokemon_cards.png");
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 140%;
        height: 200px;
        width: 500px;
        font-size: 1.5em;
        color: white;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.529);
        background-blend-mode: darken;
    }

    .first-section-theme-list-choices a#second-div-choice-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/cards_looses_lots.png");
        background-repeat: no-repeat;
        object-fit: cover;
        height: 200px;
        width: 500px;
        background-size: 120%;
        background-position: center;
        font-size: 1.5em;
        color: white;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.529);
        background-blend-mode: darken;
    }

    .first-section-theme-list-choices a#third-div-choice-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/grade_cards.png");
        background-repeat: no-repeat;
        height: 200px;
        width: 500px;
        background-size: 120%;
        background-position: center;
        background-position-x: 45%;
        font-size: 1.5em;
        color: white;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.529);
        background-blend-mode: darken;
    }

    .first-section-theme-list-choices a#fourth-div-choice-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/coffrets_produits_scelles.png");
        background-repeat: no-repeat;
        height: 200px;
        width: 500px;
        background-size: 140%;
        background-position: center;
        font-size: 1.4em;
        color: white;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.529);
        background-blend-mode: darken;
    }

    .first-section-theme-list-choices a#fiveth-div-choice-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/visuels-bundle-6-boosters-pokemon-foudre-noire-flamme-blanche.jpg.png");
        background-repeat: no-repeat;
        height: 200px;
        width: 500px;
        background-size: 140%;
        background-position: center;
        padding: 5%;
        font-size: 1.4em;
        color: white;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.529);
        background-blend-mode: darken;
    }

    .first-section-theme-list-choices a#sixth-div-choice-box {
        background-image: url("/accesories.png");
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 140%;
        height: 200px;
        width: 500px;
        font-size: 1.5em;
        color: white;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.529);
        background-blend-mode: darken;
    }

    .div-section-others-tcg {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5em;
    }

    .div-section-others-tcg div {
        border-radius: 50px;
        padding-top: 4%;
        width: 10%;
    }

    .div-section-others-tcg div * {
        border-radius: 50px;
    }

    .search-bar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    main {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        text-align: center;
        background-color: #363636;
        min-height: 73vh;
        padding: 2em;
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 1em;
        background-color: #0F172A;
        color: white;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1064px) {
    .search-bar-section {
        min-height: 44vh;
        background-size: 100%;
        background-position-y: 0;
    }

    .first-section-theme-list-choices a#first-div-choice-box {
        padding: 0;
    }
}


@media screen and (max-width: 768px) {
    ul li .link-nav-section {
        display: none;
    }

    nav { 
        display: flex; 
        justify-content: space-between;
    }

    nav ul {
        gap: 0;
    }

    .nav-logo {
        padding-right: 3.5em;
    }

    
    .menu-hamburger-nav-container {
        display: block;
    }
}

@media screen and (max-width: 480px) {

    .search-bar-section {
        min-height: 37vh;
        background-size: 150%;
        background-position-y: 0;
    }

    .search-bar-section strong {
        font-size: 0.7em;
    }

    form {
        width: 5em;
        font-size: 0.7em;
    }
    
    .first-section-theme-list-choices {
        display: flex;
        padding: 3em 0;
        margin: 0;
    }
}